body {
    font-family: 'Noto Sans', sans-serif;
}
* {
    box-sizing: border-box;
  }

  .header {
    height: 300px;
    border: 1px solid blue;
  }

  .main {
    height: 300px;
    border: 1px solid lightskyblue;
  }
  
  .footer {
    height: 300px;
    border: 1px solid green;
  }